<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="jt/layout">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>登录成功</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container">
    <div layout:fragment="content">
        <div class="alert alert-success">
            <h2>登录成功</h2>
            <p>您已经成功登录文物信息系统统一登录认证系统</p>
            <p th:utext="#{screen.success.security}">
                出于安全考虑，一旦您访问过那些需要您提供凭证信息的应用时，请操作完成之后
                <a href="logout">登出</a> 并关闭浏览器。</p>
        </div>

    </div>

    
</main>
</body>
</html>
